@{
    Page.Title = "SISTEMA DE INFORME DE LABORES (SIL)";
    
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/CssTabla.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>SISTEMA DE INFORME DE LABORES (SIL)</title>

    <style>
        .contenedor {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        input:focus:required:invalid {
            border: 1px solid red;
        }

        input:required:valid {
            border: 1px solid #d6d6d6;
        }

        textarea:focus:required:invalid {
            border: 1px solid red;
        }

        textarea:required:valid {
            border: 1px solid #d6d6d6;
        }
    </style>



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            @*<img src="https://dl.dropboxusercontent.com/s/n5dhy9h1osuf5v9/mh-b.png" alt="Ministerio de Hacienda" style="width:120px">*@
            <img src="~/Images/mh-b.png" alt="Ministerio de Hacienda" style="width:120px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Default.cshtml">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Justificar Tardías</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mantenimientos
                    </a>
                    <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Mantenimientos/Acciones/Acciones.cshtml">Acciones</a>
                        <a class="dropdown-item" href="#">Departamentos</a>
                        <a class="dropdown-item" href="#">Empleados</a>
                        <a class="dropdown-item" href="~/Mantenimientos/Estados/Estados.cshtml">Estados</a>
                        <a class="dropdown-item" href="#">Roles</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sistemas</a>
                        <a class="dropdown-item" href="#">Sistemas x Unidad</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Unidades</a>
                        <a class="dropdown-item" href="#">Unidades x Departamento</a>

                    </div>
                </li>

            </ul>

        </div>
    </nav>



    <div class="col-sm-12">
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</body>