@{
    Page.Title = "Empleados";
    Layout = "~/_Layout.cshtml";

    var bd = Database.Open("conn");
    var Empleados = bd.Query(@"SELECT e.id, e.nombre, u.nombre as nomUnidad, r.nombre as nomRol FROM Empleados e, Unidades u, Roles r where e.idUnidad = u.id AND e.idRol = r.id  order by e.nombre");

}
<br />
<div class="contenedor">
    <br />
    <h3>Empleados del Sistema</h3>
    <br />
    <button type="button" id="btnNuevo" class="btn btn-primary">Nuevo</button>
    <button type="button" id="btnEditar" class="btn btn-default" disabled>Editar</button>
    <button type="button" id="btnEliminar" class="btn btn-default" disabled>Eliminar</button><br /><br />
    <div class="table-responsive">
        <table id="registros" class="table" cellspacing="0" width="100">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Empleados)
                {
                <tr>
                    <td>@row.id</td>
                    <td>@row.nombre</td>
                    <td>@row.nomUnidad</td>
                    <td>@row.nomRol</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Mantenimientos/Empleados/FuncionesEmpleados.js"></script>