@{
    Page.Title = "Estados";
    Layout = "~/_Layout.cshtml";

    var bd = Database.Open("conn");
    var estados = bd.Query(@"SELECT a.id, a.nombre, e.nombre as nomEstado FROM Acciones a, Estados e where a.idEstado = e.id  order by a.nombre");

}
<br />
<div class="contenedor">
    <br />
    <h3>Acciones del Sistema</h3>
    <br />
    <button type="button" id="btnNuevo" class="btn btn-primary">Nuevo</button>
    <button type="button" id="btnEditar" class="btn btn-default" disabled>Editar</button>
    <button type="button" id="btnEliminar" class="btn btn-default" disabled>Eliminar</button><br /><br />
    <div class="table-responsive">
        <table id="registros" class="table" cellspacing="0" width="100">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in estados)
                {
                <tr>
                    <td>@row.id</td>
                    <td>@row.nombre</td>
                    <td>@row.nomEstado</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Mantenimientos/Acciones/FuncionesAcciones.js"></script>