@using System.Collections.Generic;
@using Newtonsoft.Json;
@{
    Page.Title = "Editar Estado";
    Layout = "~/_Layout.cshtml";

    string id = Request.QueryString["id"];
    string nom = "";

    wsServicios.Service1 obj = new wsServicios.Service1();
    var datos = JsonConvert.DeserializeObject<List<dynamic>>(obj.getEstados(id));

    //nom = datos.ElementAt
    foreach(var fila in datos)
    {
        nom = fila.Nombre;
    }

    if (IsPost)
    {
        string nombre = Request.Form["nombre"];

        var resultado = JsonConvert.DeserializeObject<List<dynamic>>(obj.EditarEstado(nombre,id));

        Response.Redirect("/Mantenimientos/Estados/Estados.cshtml");
    }
}
<div class="container">
    <form method="post" style="margin-top: 30px;">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <h3>Editar Estado</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Fecha">Estado</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" value="@nom" placeholder="Nombre estado" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="~/Mantenimientos/Estados/Estados.cshtml" class="btn btn-link" role="button">Cancelar</a>
            </div>
        </div>
    </form>
</div>
