@using System.Collections.Generic;
@using Newtonsoft.Json;
@{
    Page.Title = "Estados";
    Layout = "~/_Layout.cshtml";

    wsServicios.Service1 obj = new wsServicios.Service1();
    var estados = JsonConvert.DeserializeObject<List<dynamic>>(obj.getEstados("0")); 

}
<br />
<div class="contenedor">
    <br />
    <h3>Estados del Sistema</h3>
    <br />
    <button type="button" id="btnNuevo" class="btn btn-primary">Nuevo</button>
    <button type="button" id="btnEditar" class="btn btn-default" disabled>Editar</button>
    <button type="button" id="btnEliminar" class="btn btn-default" disabled>Eliminar</button><br /><br />
    <div class="table-responsive">
        <table id="registros" class="table" cellspacing="0" width="100">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in estados)
                {
                    <tr>
                        <td>@row.id</td>
                        <td>@row.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/Mantenimientos/Estados/FuncionesEstados.js"></script>