@{
    Page.Title = "Editar Estado";
    Layout = "~/_Layout.cshtml";

    var bd = Database.Open("conn");

    int id = Request.QueryString["id"].AsInt();

    var datos = bd.QuerySingle(@"SELECT [id],[nombre]
                    FROM [dbo].[Estados] where id = @0", id);

    if (IsPost)
    {
        string nombre = Request.Form["nombre"]; 

        var query = @"update [dbo].[Estados] set [nombre] = @0
           where id = @1";

        var row = bd.QuerySingle(query, nombre, id);

        Response.Redirect("/Mantenimientos/Estados/Estados.cshtml");
    }
}
<div class="container">
    <form method="post" style="margin-top: 30px;">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <h3>Editar Estado</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Fecha">Estado</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" value="@datos.nombre" placeholder="Nombre estado" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="/" class="btn btn-link" role="button">Cancelar</a>
            </div>
        </div>
    </form>
</div>
